<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<div class="input">
                <input id="chat-message-input" name="message" required>
                <label for="message">
                    Message
                </label>
            </div>
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
