<footer>
    <div>
        <ul>
            <li>
                Amico
            </li>
            <li>
                About
            </li>
            <li>
                Community
            </li>
            <li>
                Privacy Policy
            </li>
            <li>
                User Agreement
            </li>
            <li>
                Cookie Policy
            </li>
        </ul>
    </div>
</footer>