<link rel="stylesheet" href="/css/home.css">
<h1>
    Amico <%= title %>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3">
        </textarea>
        <input type="submit" value="Post" placeholder="Type here ...">
    </form>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                <li>
                    <P>
                        <%= post.content %>
                        <br>
                        <small>
                            <%= post.user.name %>
                        </small>
                    </P>
                </li>
            <%  } %>
        </ul>
    </div>
</section>