header {
    margin-right: 3%;
    margin-left: 3%;
    height: 10%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #0A66C3;
    div {
        height: 100%;
        h1 {
            color: #0A66C3;
            margin: 1.5rem;
            font-family: 'san-serif';
        }
        ul {
            height: 100%;
            list-style-type: none;
            margin: 2rem 2rem 0 2rem;
            li {
                height: 100%;
                display: inline; 
                margin: 1rem 1rem 0 1rem;
                color: #0A66C3;
                padding: 0.7rem;
                a {
                    color: #0A66C3;
                    text-decoration: none;
                }
                background-color: #fff;
                border-radius: 10px;
                transition: 0.5s;
                &:hover{
                    background-color: #0A66C3;
                    color: #fff;
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .header-home{
            display: flex;
            flex-direction: row;
            img{
                margin: 1.2rem;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                box-shadow: 0 10px 15px rgba(179,179,179,.7);
                cursor: pointer;
            }
            .input{
                margin: 1rem;
                position: relative;
                width: 20rem;
                height: 40px;
                input{
                    width: 100%;
                    height: 40px;
                    padding-top: 0.9rem;
                    padding-left: 9px;
                    outline: none;
                    border: 1px solid #8c8c8c;
                    transition: .2s;
                    &:focus{
                        border-width: 2px;
                        border-color: #0A66C3;
                    }
                }
                label{
                    position: absolute;
                    top: 30%;
                    left: 10px;
                    font-size: 1.1rem;
                    color: #8c8c8c;
                    transition: .2s;
                }
                input:focus ~ label, .input input:valid ~ label{
                    top: 10%;
                    font-size: .8rem;
                    color: #000;
                }
            }
            .search-button{
                margin-top: 1rem;
                height: 40px;
                width: 20%;
                background: #0A66C3;
                outline: none;
                border: none;
                border-radius: 30px;
                color: #fff;
                font-size: 0.7rem;
                cursor: pointer;
                border: 2px solid #0A66C3;
                &:hover{
                    background: #fff;
                    color: #0A66C3;
                    border: 2px solid #0A66C3;
                }
            }
        }
    }
}