body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: white; }
  body .home-container {
    margin: 0;
    background-color: #fff;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    body .home-container .shortcuts {
      margin: 1rem;
      margin-left: 3rem;
      width: 17%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      body .home-container .shortcuts a {
        padding-top: 0.3rem;
        padding-left: 0.5rem;
        font-size: larger;
        text-decoration: none;
        color: #8c8c8c;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        margin-top: 1rem; }
        body .home-container .shortcuts a i {
          margin-right: 1rem;
          height: 30px;
          width: 30px;
          background-image: #8c8c8c; }
        body .home-container .shortcuts a p {
          margin: 0; }
    body .home-container .posts-container {
      flex: 1;
      height: 100%;
      background-color: white;
      overflow-y: scroll; }
      body .home-container .posts-container h4 {
        margin-top: 0.5rem;
        text-align: center;
        color: #0a66c3;
        font-size: 2rem;
        margin-bottom: 2rem; }
      body .home-container .posts-container #new-post-form {
        display: flex;
        flex: 1;
        justify-content: center; }
        body .home-container .posts-container #new-post-form textarea {
          border-radius: 10px;
          background-color: lightgrey;
          height: 3rem;
          flex-grow: 0.7;
          margin-right: 2rem;
          overflow-y: scroll;
          font-family: "Times New Roman", Times, serif;
          padding-top: 0.5rem; }
        body .home-container .posts-container #new-post-form input {
          background-color: #0a66c3;
          color: #fff;
          outline: none;
          border-radius: 10px;
          width: 10%;
          border: none; }
      body .home-container .posts-container ul {
        margin: 2rem;
        list-style: none;
        padding: 2rem; }
    body .home-container .posts-container::-webkit-scrollbar {
      display: none; }
    body .home-container .friends {
      width: 20rem;
      height: 100%; }
      body .home-container .friends h4 {
        margin-top: 0.5rem;
        color: #0a66c3;
        font-size: 2rem;
        padding-left: 20%;
        margin-bottom: 0; }
      body .home-container .friends section {
        width: 80%;
        height: 100%;
        overflow-y: scroll;
        background: #fff; }
        body .home-container .friends section p {
          width: 100%;
          font-size: 1.5rem;
          padding-left: 0.5rem;
          margin-bottom: 0; }
          body .home-container .friends section p a {
            text-decoration: none;
            color: #8c8c8c; }
            body .home-container .friends section p a img {
              height: 2rem;
              border-radius: 50%;
              padding-top: 0.5rem; }
      body .home-container .friends section::-webkit-scrollbar {
        display: none; }
