*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: center;
}

.container{
    width: 25%;
    height: 550px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179,179,179,.7);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    margin: 2rem;
}

.container h2{
    color: #0A66C3;
    font-size: 2.5rem;
    text-align: center;
}

img{
    margin-left: 4rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 10px 15px rgba(179,179,179,.7);
    border-radius: 50%;
}

.info p{
    margin: 1rem;
    font-size: 1.2rem;
    padding-left: .3rem;
    text-align: center;
}

.friend-button{
    margin-top: 1rem;
    height: 50px;
    width: 100%;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
}

.update{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem;
    margin: 1rem;
}

.update h2{
    color: #0A66C3;
    font-size: 2rem;
    width: 100%;
    border-bottom: 2px solid #0A66C3;
    text-align: center;
}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: .7rem;
}

.input input{
    width: 100%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
}

.input label{
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: .2s;
}

.input input:focus ~ label, .input input:valid ~ label{
    top: 10%;
    font-size: .8rem;
    color: #000;
}

.input input:focus{
    border-width: 2px;
    border-color: #0A66C3;
}

.submit-button{
    margin-left: 25%;
    height: 50px;
    width: 50%;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
}

input[type=file]::file-selector-button{
    margin-top: 0.2rem;
    height: 70%;
    width: 15%;
    background: #0A66C3;
    outline: none;
    border: none;
    color: #fff;
    font-size: .7rem;
    border-radius: 10px;
}
